@import "tailwindcss";

/* Make sure the entire page covers the full screen */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Full-page background image */
body {
  background-image: url('../assets/bground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional: makes it stay while scrolling */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
