---
import '../styles/about.css';
import picture from '../assets/cat.jpg';
import ClickButton from '../components/ClickButton.astro';
---

<head>
  <meta charset="UTF-8" />
  <title>Cutie Cat</title>
</head>
<div class="container">
  <img src={picture.src} alt="Centered Picture" class="center-image" />
  <ClickButton href="/James" label="Click Me" />
</div>
