---
import picture from '../assets/bsball.jpg';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="bsball">
  <div class="flex items-center justify-center min-h-screen">
    <div class="relative flex items-center justify-center gap-10 max-w-[900px] mx-auto bg-cyan-400 p-6 rounded-xl shadow-lg">

      <div>
        <img 
          src={picture.src} 
          alt="Photo 1" 
          class="w-[500px] h-60 rounded-xl object-cover" 
        />
      </div>

      <div class="max-w-[600px]">
        <h2 class="text-2xl font-bold text-gray-800 mb-2">Lets Play! </h2>
        <p class="text-gray-700 leading-relaxed font-serif">
          Basketball is a fast-paced and exciting sport that involves two teams competing to score points by shooting a ball through the opposing team's hoop. Players use a combination of dribbling, passing, and shooting skills to outmaneuver their opponents and create scoring opportunities. The game is played on a rectangular court with specific positions for players, including guards, forwards, and centers. Basketball is known for its high energy, teamwork, and strategic plays, making it a popular sport worldwide.
        </p>
      </div>

      <a 
        href="/jamess" 
        class="absolute bottom-4 right-4 bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
      >
        Back
      </a>

    </div>
  </div>
</MainLayout>


