---
import picture from '../assets/bsball.jpg';
import '../styles/threeimage.css';
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Description</title>
</head>
<body>
  <div class="container">
    <div class="image-container">
          <img src={picture.src} alt="Photo 1" />
    </div>
    <div class="text-container">
      <h2>Lets Play!</h2>
      <p>
        Basketball is a fast-paced and exciting sport that involves two teams competing to score points by shooting a ball through the opposing team's hoop. Players use a combination of dribbling, passing, and shooting skills to outmaneuver their opponents and create scoring opportunities. The game is played on a rectangular court with specific positions for players, including guards, forwards, and centers. Basketball is known for its high energy, teamwork, and strategic plays, making it a popular sport worldwide.
      </p>
    </div>
  </div>
</body>
</html>
