---
import picture from '../assets/chicken.jpg';
import '../styles/threeimage.css';
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Description</title>
</head>
<body>
  <div class="container">
    <div class="image-container">
          <img src={picture.src} alt="Photo 1" />
    </div>
    <div class="text-container">
      <h2>Yum Yum Chicken!</h2>
      <p>
    Fried Chicken is a beloved dish known for its crispy, golden-brown exterior and juicy, tender meat. It is typically made by coating chicken pieces in a seasoned flour mixture and then deep-frying them until they reach the perfect level of crunchiness. This dish is often enjoyed with sides like mashed potatoes, coleslaw, or biscuits, making it a comforting and satisfying meal for many.
      </p>
    </div>
  </div>
</body>
</html>
