---
import picture from '../assets/playingk.jpg';
import '../styles/threeimage.css';
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Description</title>
</head>
<body>
  <div class="container">
    <div class="image-container">
          <img src={picture.src} alt="Photo 1" />
    </div>
    <div class="text-container">
      <h2>Hello People!</h2>
      <p>
        Playing piano is one of my favorite activities. I love the sound of the keys and the way my paws feel as they dance across them. It's a great way to express myself and have fun!
      </p>
    </div>
  </div>
</body>
</html>
